body {
    height: 1000px;
}

div.container {
    width: 1600px;
}
.graph {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px 2px 2px 2px;
}
.tooltip_box {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.info_box {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 10px;
    color: #333;
    border-color: #ccc;
    padding: 5px;
    width: 178px;
}

.group {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    color: #333;
    border-color: #ccc;
    padding: 5px;
    cursor:pointer;
}

.range {
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    color: #333;
    border-color: #ccc;
    padding: 5px;
    width: 200px;
    cursor:pointer;
}

.group_name {
    font-style: oblique;
    font-family: sans-serif;
    font-weight: bold;
    font-size: small;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.yaxis path,
.yaxis line {
    fill: none;
    shape-rendering: crispEdges;
}
.yaxis text {
    font-family: sans-serif;
    font-size: 9px;
}

svg.text {
    font-family: sans-serif;
    font-size: 11px;
}

.area {
    fill: #fff0d6;
    stroke-width: 0;
}

.bootstrap-switch-wrapper {
    margin-top: 5px;
}

.checkbox-wrapper {
    margin-top: 20px;
}

.selector-wrapper {
    margin-top: 10px;
}


#tooltip {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    width: 175px;
}